<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/934456688306683925/3720b8536eee5e4f30407303bab045a5.jpg?size=2048" />
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
   <meta property="og:type" content="website">
        <meta name="theme-color" content="#b94e4e"> 
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="TryHard">
        <meta property="og:title" content="<%= title %>">
</head>
