<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
        <meta property="og:type" content="website">
        <meta name="theme-color" content="#b94e4e"> 
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="TryHard">
        <meta property="og:title" content="Home - TryHard">
        <meta property="og:description" content="TryHard's website and soon a dashboard!">
	    <title>Home</title>
      <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/934456688306683925/3720b8536eee5e4f30407303bab045a5.jpg?size=2048"/>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/css/app.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <% if (id) { %> 
                    <div id="userinfo">
                        <div class="usermenu" style="display: none;">
                            <div style="height:70px;width:1px;"></div>
                            <div class="item">
<ul>
  <li class= 'list' style='list-style: none;'> 
                             <a href="/dashboard" id='items_lol'>
                               <span class= 'icon'><ion-icon name="settings"></ion-icon></span> 
                               <span class='title'>Dashboard</span>
                                                              </a> 
  </li>

  <% if(owners.includes(id)) { %>
  <li class= 'list' style='list-style: none;'>
                             <a href="/admin" id='items_lol'>
                               <span class= 'icon'><ion-icon name="lock"></ion-icon></span> 
                               <span class='title'>Admin</span>
                                                              </a> 
  </li>
<% } %>
  
  <li class= 'list' style= 'list-style: none; bottom: 70px;'>
                             <a href="/logout" id='items_lol'>
                               <span class= 'icon'><ion-icon name="exit"></ion-icon></span> 
                               <span class='title'>Logout</span>
                                                              </a> 
  </li>
</ul>
                            </div>
                        </div>
  
                        <img src="<%= avatar %>" onclick="toggleusermenu()" />
                        <script>
                            function toggleusermenu() {
                                $(".usermenu").slideToggle();
                            }
                        </script>
                      <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
                    </div>
                <% } else { %>
                    <a id="loginDiscord" href="<%= loginUrl %>">
						<button class="btn btn-primary discord-login-button" type="button">Login</button>
					</a>
                <% } %>
                </div>
            <div>
                <h3>TryHard's website</h3>  
        </div>
    </body>
</html>